.SG7-1 {
    padding: 20% 10% 20% 10%;
    color: $primary;
    background-image: url(./imgs/sec1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
}

.SG7-1 h3 {
    font-family: $Robo;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: left;
    font-weight: 200;
}

.SG7-1 h2 {
    font-family: $Serif;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 200;
    padding: 10% 0% 10% 0%;
}

.SG7-1 p {
    font-family: $Sans;
    font-size: 1em;
    text-align: left;
    line-height: 1.5em;
    padding-bottom: 10%;

}

.SG7-2 {
    background-image: url(./imgs/sec7-2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}

@media (min-width: 764px) and (max-width: 1199.87px) {

    .container7 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .SG7-2 {
        background-image: url(./imgs/sec7-2.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 58vh;
    }
}

@media (min-width: 1199.88px) {

    .container7 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .SG7-1 {
        padding: 20% 10% 20% 10%;
    }
    
    .SG7-1 h3 {
        font-size: 2.2em;
    }
    
    .SG7-1 h2 {
        font-size: 4.8em;
        padding: 10% 0% 10% 0%;
    }
    
    .SG7-1 p {
        font-size: 1.7em;
        line-height: 1.8em;
        padding-bottom: 10%;
    }

    .SG7-2 {
        background-image: url(./imgs/sec7-2.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 68vh;
    }
}