* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: white;
  overflow-x: hidden;
}

.logo {
  color: #73546f;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
  overflow-x: hidden;
}

.navlinks li {
  list-style: none;
  overflow-x: hidden;
}

.navlinks a {
  color: #eb0505;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  overflow-x: hidden;
}

.burger div {
  width: 25px;
  height: 3px;
  color: #f11313;
  background-color: blueviolet;
  margin: 5px;
  overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
  .navlinks {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navlinks {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: aqua;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    overflow-x: hidden;
    z-index: 1;
  }
  .navlinks li {
    opacity: 0;
  }
  .burger {
    display: block;
    overflow-x: hidden;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  background-color: yellow;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  background-color: brown;
}

.section1 {
  background-image: url(./imgs/sec1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 40%;
  height: 70vh;
  position: relative;
}

.section1 div {
  margin: 0% 10% 10% 10%;
  position: absolute;
  bottom: 0%;
}

.section1 h6 {
  color: white;
  font-size: 1.8em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.section1 h1 {
  color: white;
  font-size: 4em;
  font-family: "lora; serif";
  font-weight: 300;
  padding: 0% 0% 10% 0%;
}

.section1 p {
  color: white;
  font-size: 1.5em;
}

.SG2-1 {
  background-color: #bf404c;
  text-align: center;
  font-size: 6em;
  padding: 5% 1% 10% 1%;
}

.SG2-1 h1 {
  font-weight: 200;
  color: white;
  font-family: "Roboto", sans-serif;
}

.SG2-2 {
  background-color: #73546f;
  color: white;
  padding: 10% 5% 10% 5%;
}

.SG2-2 h4 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: 200;
  text-transform: uppercase;
  padding: 0% 0% 10% 0%;
}

.SG2-2 h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 3.5em;
  text-transform: uppercase;
  padding: 0% 0% 10% 0%;
}

.SG2-2 p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8em;
  padding: 10% 0% 10% 0%;
}

.SG2-2 button {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 5% 10% 5% 10%;
  margin: 5% 0% 10% 0%;
  border: none;
  background-color: #d16391;
  color: white;
}

.SG2-3 {
  background-image: url(./imgs/sec2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

@media (min-width: 768px) and (max-width: 1199.87px) {
  .section2 .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 50% 25%;
        grid-template-columns: 25% 50% 25%;
    -ms-grid-rows: 43vh;
        grid-template-rows: 43vh;
    grid-gap: 0%;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .SG2-1 {
    background-color: #bf404c;
    text-align: center;
    font-size: 6em;
    padding: 100% 1% 10% 1%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    justify-items: center;
  }
  .SG2-1 h1 {
    font-weight: 200;
    color: white;
    font-family: "Roboto", sans-serif;
  }
  .SG2-2 {
    background-color: #73546f;
    color: white;
    padding: 10% 4% 10% 3%;
    overflow-y: hidden;
  }
  .SG2-2 h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1.8em;
    font-weight: 200;
    text-transform: uppercase;
    padding: 0% 0% 5% 0%;
  }
  .SG2-2 h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 2.8em;
    text-transform: uppercase;
    padding: 0% 0% 5% 0%;
  }
  .SG2-2 p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.18em;
    padding: 5% 0% 0% 0%;
    line-height: 1.5em;
  }
  .SG2-2 button {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    padding: 5% 10% 5% 10%;
    margin: 5% 0% 10% 0%;
    border: none;
    background-color: #d16391;
    color: white;
  }
  .SG2-3 {
    background-image: url(./imgs/sec2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 43vh;
  }
}

@media (min-width: 1100.88px) {
  .section2 .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 50% 25%;
        grid-template-columns: 25% 50% 25%;
    -ms-grid-rows: 30vh;
        grid-template-rows: 30vh;
    grid-gap: 0%;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .SG2-1 {
    background-color: #bf404c;
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 6em;
    padding: 50% 1% 10% 1%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    justify-items: center;
  }
  .SG2-1 h1 {
    font-weight: 200;
    color: white;
    font-family: "Roboto", sans-serif;
  }
  .SG2-2 {
    background-color: #73546f;
    color: white;
    padding: 10% 4% 10% 3%;
    overflow-y: hidden;
  }
  .SG2-2 h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1.7em;
    font-weight: 200;
    text-transform: uppercase;
    padding: 0% 0% 5% 0%;
  }
  .SG2-2 h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 2.2em;
    text-transform: uppercase;
    padding: 0% 10% 5% 0%;
  }
  .SG2-2 p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.15em;
    padding: 0% 0% 0% 0%;
    line-height: 1.5em;
  }
  .SG2-2 button {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    padding: 3% 5% 3% 5%;
    margin: 2% 0% 10% 0%;
    border: none;
    background-color: #d16391;
    color: white;
  }
  .SG2-3 {
    background-image: url(./imgs/sec2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
  }
}
/*# sourceMappingURL=style.css.map */